@model sevvalemlak.Dto.TumIlanlarDTO
@using Microsoft.AspNetCore.Identity
@using Sevval.Domain.Entities
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    Layout = "_Layout";
    ViewData["Title"] = "Hizmetler";
    ViewData["HideFooter"] = true;
}

@section Styles {
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/ilansayfasi.css" />
    <link rel="stylesheet" href="~/css/kullanici-paneli.css" />
    <link rel="stylesheet" href="~/css/şevvalhat.css" />
}

    <!-- Pop-up Penceresi -->
    <div id="login-popup" class="popup">
        <div class="popup-content">
            <button class="close-button" id="close-popup">&times;</button> <!-- Kapat Butonu -->
            <div class="left-section">
                <h2>Bireysel Kullanıcı</h2>
                <a href="@Url.Action("Login", "Account")" class="button">Giriş Yap</a>
                <a href="@Url.Action("Register", "Account")" class="button">Üye Ol</a>
            </div>
            <div class="right-section">
                <h2>Emlakçı Girişi</h2>
                <a href="#" class="button">Giriş Yap</a>
                <a href="#" class="button">Üye Ol</a>
            </div>
        </div>
    </div>

    <!-- Alt Bar -->
    <div class="alt-bar">
        <ul class="alt-bar-list">
            <li><a href="@Url.Action("Panel", "Ilan")">Raporlar</a></li>
            <li><a href="@Url.Action("Ilanlar", "Ilan")">İlanlar</a></li>
            <li><a href="@Url.Action("Videolarim", "VideolarSayfasi")">Videolarım</a></li>
            <li><a href="@Url.Action("Danismanlar", "Ilan")">Danışmanlar</a></li>
            <li class="office-menu">
                <a href="#">Ofis/Hesap</a>
                <ul class="office-menu-content">
                    <a href="#">Paketim</a>
                    <a href="#">Ödemelerim</a>
                    <a href="#">Doping Satın Al</a>
                    <a href="#">Sipariş Ver</a>
                    <a href="#">Kart Bilgilerim</a>
                    <a href="#">Dopinglerim</a>
                    <a href="#">Favorilerim</a>
                    <a href="#">Beğendiklerim</a>
                </ul>
            </li>
            <li><a href="@Url.Action("Sozlesmeler", "Ilan")">Sözleşmeler</a></li>
            
            <li><a href="@Url.Action("ŞevvalHat", "Ilan")">ŞevvalHat</a></li>
            <li><a href="@Url.Action("Hizmetler", "Ilan")">Hizmetler</a></li>
            <li><a href="#">Ayarlar</a></li>
        </ul>
    </div>



    <div class="container">
        <h2 class="animated-text">Şu anda Size Aktarılan Bir Hizmet Bulunmamakta</h2>
    </div>