@model IEnumerable<Sevval.Application.Features.Announcement.Queries.GetAnnouncementCountByProvince.GetAnnouncementCountByProvinceQueryResponse>

<div class="sehirler">
    <h2 style="color: #0d6efd">Şehirlere Göre İlanlar</h2>
    <div class="sehirler-container" onmouseover="enableMouseScroll(this)" onmouseout="disableMouseScroll(this)">
        @foreach (var item in Model)
        {
            <div class="sehir-kart" onclick="submitHizliAraSehir('@item.Province')" data-sehir="@item.Province">
                <div class="sehir-resim">
                    <img src="@item.ImagePath" alt="@item.Province" @* onerror="this.src='/icons/default-city-icon.webp';" *@ />
                </div>
                <!-- Şehir açıklamasını burada üst kısmında göstermek için 'sehir-aciklama' div'i eklendi -->
                <div class="sehir-aciklama" id="aciklama-@item.Province">
                   @item.Comment
                </div>

                <div class="sehir-bilgi">
                    <p class="sehir-adi">@item.Province</p>
                    <p class="ilan-sayisi">@item.Count.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("tr-TR")) İlan</p>
                </div>
            </div>
        }
    </div>
</div>
